<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">New Allotment</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Room</a>
            </li>
            <li class="breadcrumb-item active">New Allotment</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong> New Allotment</strong></h2>

          </div>
          <div class="body">
            <form class="m-4" [formGroup]="roomForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="roomForm.get('name').hasError('required')">
                      Room name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>Room Type</mat-label>
                    <mat-select formControlName="type" required>
                      <mat-option [value]="'Consultation'">
                      consultation
                      </mat-option>
                      <mat-option [value]="'visite'">
                        visite
                      </mat-option>
                      <mat-option [value]="'operation'">
                        operation
                      </mat-option>
            
                    </mat-select>
                    <mat-error *ngIf="roomForm.get('type').hasError('required')">
                      Room Type is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>description</mat-label>
                    <input matInput formControlName="description" required>
                    <mat-error *ngIf="roomForm.get('description').hasError('required')">
                      Patient Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3">
                    <mat-label>Room Statut</mat-label>
                    <mat-select formControlName="statut" required>
                      <mat-option [value]="'Consultation'">
                      consultation
                      </mat-option>
                      <mat-option [value]="'libre'">
                        libre
                      </mat-option>
    
            
                    </mat-select>
                    <mat-error *ngIf="roomForm.get('statut').hasError('required')">
                      Room stat is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!roomForm.valid " mat-raised-button
                    color="primary">Submit</button>
                  <button type="button" mat-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
